nav.sc-9b4e85a8-1,
nav.gDDLmk{
  
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}






.Box-sc-58a5f0e1-0,.warning-banner{
  
  display: none !important; 
}

/* Navbar */
nav{
  
  min-width: 100%;
  min-height: 85px !important;
  
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  
}
/* Navbar all elements */
nav > *,nav *{
    
    /* border: 2px solid #D8CAFF !important; */
}

@media(min-width:900px){
    
    .pc{
        display: block !important;
        
    }
    .hYXDcC{
        display: block !important;
        
    }

}





.footer_logo{
  
  color: #00ccff !important;
  
}
.navbar_logo_text{
  
  color: #00ccff !important;
  font-style: bold;
  font-size: 20px;
  
}
.navbar_logo{
  
    height: 40px !important;
    width: 40px !important;
    
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
}


.jtuYYv,.navbar_logo_text{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}